@font-face {
  font-family: 'Terminus';
  src: local(''),
    url('./assets/fonts/terminus.ttf')
}


body {
  background: #000;
  color: #a8a8a8;
  font-family: "Terminus";
  font-weight: bold;
  margin: 5vw 10vw;
}

main {
  margin: 10px;
  border-left: 3px solid #a8a8a8;
  border-right: 3px solid #a8a8a8;
  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  padding: 10px 7px;
}

h1 {
  text-align: center;
  font-size: 20px
}

main a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #a8a8a8;
}

p {
  font-size: 20px;
  margin-inline: 3vw;
}

a:hover {
  background: #a8a8a8;
  color: #000;
}
